@{
    ViewData["Title"] = "Home Page";
}


<body>
    <div class="main-content">

        <div id="landingPageImage"></div>

        <div class="container">
            <div class="row justify-content-center>
                <div class="col align-items-center"></div>
            </div>
        </div>

    </div>

</body>

