@model CarPro.Models.Car

@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="card mt-4">
        <div class="card-header">
            <p>  <span>Create</span> Car</p>
        </div>


        <div class="card-body card-block">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Make" class="control-label"></label>
                            <input asp-for="Make" class="form-control" />
                            <span asp-validation-for="Make" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Model" class="control-label"></label>
                            <input asp-for="Model" class="form-control" />
                            <span asp-validation-for="Model" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="ModelYear" class="control-label"></label>
                            <input asp-for="ModelYear" class="form-control" />
                            <span asp-validation-for="ModelYear" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Mileage" class="control-label"></label>
                            <input asp-for="Mileage" class="form-control" />
                            <span asp-validation-for="Mileage" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Color" class="control-label"></label>
                            <input asp-for="Color" class="form-control" />
                            <span asp-validation-for="Color" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="DriveTrain " class="control-label"></label>
                            <input asp-for="DriveTrain" class="form-control" />
                            <span asp-validation-for="DriveTrain" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="LotId" class="control-label"></label>
                            <select asp-for="LotId" class="form-control" asp-items="ViewBag.LotId"></select>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </form>


            


        </div>

       
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
